@import '~node_modules/modern-normalize/modern-normalize.css';
main  {
    height: 2872px;
    opacity: 100%;
    overflow: visible;
    padding: 187px 0 0 0;
    z-index: 1;
    background-color: $background-color2;
}