@import '~node_modules/modern-normalize/modern-normalize.css';
// @import '~flatpickr/flatpickr.min.css';
main  {
    height: 2872px;
    opacity: 100%;
    overflow: visible;
    z-index: 1;
    background-color: $background-color1;
}