/* Brand Colors ------------------------------------------------*/
$color1: #FFFFFF;
$color2: #262121;
$color3: rgba(253, 185, 45, 0.97);
$color4: #404040;
$color5: #373737;
$color6: #00639D;
$font-color: #000530;
$h2-font-color: #FFFFFF;
$placeholder: $color2;
$base-font-weight: 300;
$brand-font-1: '',sans-serif;
$brand-font-2: '',sans-serif;
$background-color1: #E5E5E5;
$background-color2: #e5e5e5;