<section class="about">
  <div class="layout">
    <h3>
      <span>About us</span>
    </h3>
    <div class="text">
      <p>
        Drop By The Bar 3856 And Step Into Another World. Conversation Flows Over Sparkling Glasses And Candlelit Tables. Behind The Bar, Mixologists Conjure Up New
      </p>
      <p>
        Concoctions And Time-Honoured Classic Cocktails. <br/>
        From Day To Night, The Bar 3856 Is Infused With A Relaxed, Inviting Energy. To Accompany Your Drinks, Choose From Light Menus Of Bar Snacks And Evening Canapés.
      </p>
    </div>
  </div>
</section>