<section class="choice">
  <div class="layout">
    <h3>
      <span>choice of visitors</span>
    </h3>
    <div class="coctails">
      <div class="coctail trigger_1">
        <img src="./images/img-coctail-1.png" alt="#" />
        <div id="pop-up_1">
          <h4>Sex On The Beach</h4>
          <h5>Ingredients:</h5>
          <ul>
            <li>
              Vodka
            </li>
            <li>
              Orange juice
            </li>
            <li>
              Cranberry juice
            </li>
            <li>
              Peach schnapps
            </li>
            <li>
              Cherries
            </li>
            <li>
              Oranges
            </li>
          </ul>
        </div>
      </div>
      <div class="coctail trigger_2">
        <img src="./images/img-coctail-2.png" alt="#" />
        <div id="pop-up_2">
          <h4>Sex On The Beach</h4>
          <h5>Ingredients:</h5>
          <ul>
            <li>
              Vodka
            </li>
            <li>
              Orange juice
            </li>
            <li>
              Cranberry juice
            </li>
            <li>
              Peach schnapps
            </li>
            <li>
              Cherries
            </li>
            <li>
              Oranges
            </li>
          </ul>
        </div>
      </div>
      <div class="coctail trigger_3">
        <img src="./images/img-coctail-3.png" alt="#" />
        <div id="pop-up_3">
          <h4>Sex On The Beach</h4>
          <h5>Ingredients:</h5>
          <ul>
            <li>
              Vodka
            </li>
            <li>
              Orange juice
            </li>
            <li>
              Cranberry juice
            </li>
            <li>
              Peach schnapps
            </li>
            <li>
              Cherries
            </li>
            <li>
              Oranges
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="scroll">
      scroll
    </p>
  </div>

</section>