<section class="choice">
  <div class="layout">
    <h3>
      <span>choice of visitors</span>
    </h3>
    <ul class="coctails">
      <li class="coctail">
        <div class="trigger_1"></div>
        <!-- <img src="./images/img-coctail-1.png" alt="#" /> -->
        <div id="pop-up_1">
          <h4>Sex On The Beach</h4>
          <h5>Ingredients:</h5>
          <ul>
            <li>
              Vodka
            </li>
            <li>
              Orange juice
            </li>
            <li>
              Cranberry juice
            </li>
            <li>
              Peach schnapps
            </li>
            <li>
              Cherries
            </li>
            <li>
              Oranges
            </li>
          </ul>
        </div>
      </li>
      <li class="coctail">
        <div class="trigger_2"></div>
        <!-- <img src="./images/img-coctail-2.png" alt="#" /> -->
        <div id="pop-up_2">
          <h4>Sex On The Beach</h4>
          <h5>Ingredients:</h5>
          <ul>
            <li>
              Vodka
            </li>
            <li>
              Orange juice
            </li>
            <li>
              Cranberry juice
            </li>
            <li>
              Peach schnapps
            </li>
            <li>
              Cherries
            </li>
            <li>
              Oranges
            </li>
          </ul>
        </div>
      </li>
      <li class="coctail">
        <div class="trigger_3"></div>
        <!-- <img src="./images/img-coctail-3.png" alt="#" /> -->
        <div id="pop-up_3">
          <h4>Sex On The Beach</h4>
          <h5>Ingredients:</h5>
          <ul>
            <li>
              Vodka
            </li>
            <li>
              Orange juice
            </li>
            <li>
              Cranberry juice
            </li>
            <li>
              Peach schnapps
            </li>
            <li>
              Cherries
            </li>
            <li>
              Oranges
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <p class="scroll">
      scroll
    </p>
  </div>

</section>