<section class="first_view">
  <!-- <img class="fv_img" src="./images/banner_1.png" alt="photo bar"> -->
    <div class="layout">
      <h2>SERVING UP CLASSY COCTAILS ALL NIGHT LONG</h2>
      <form class="find_a_table" action="index.html" method="post">
        <fieldset>
          <div class="form">
            <img src="./images/img-head.png" alt="#">
            <select>
                <option>two people</option>
                <option>three people</option>
                <option>four people</option>
            </select>
          </div>
          <div class="form">
            <img src="./images/img-date.png" alt="#">
            <input id="date-picker" type="text" placeholder="Select date">
          </div>
          <div class="form">
            <img src="./images/img-time.png" alt="#">
              <input id="time-picker" type="text" placeholder="Select time">
          </div>
        </fieldset>
        </form>
        <button class="btn">Find a table</button>
      <p class="scroll">
        scroll
      </p>
    </div>
</section>