<footer>
  <section class="info">
    <ul>
      <li>
        <p>
          165 Smith St, Melbourne, Australia
        </p>
      </li>
      <li>
        <p>
          Phone 4912345678
        </p>
      </li>
      <li>
        <p>
          info@bar3856.com.au
        </p>
      </li>
      <li>
        <p>
          Open till 2am Thursday- Sunday
        </p>
      </li>
    </ul>
  </section>
  <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1525.1007899435392!2d36.2352943600976!3d49.994417252987205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0efb00d7d89%3A0xe891d820563b7e84!2zU291cmNlIGlUIOKAlCBpVC3QutGD0YDRgdGLINCyINCl0LDRgNGM0LrQvtCy0LU!5e0!3m2!1sru!2sua!4v1625394921359!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </section>
</footer>