<header>
  <div class="layout">
    <nav>
      <ul>
        <li>
          <a href="#">reservation</a>
        </li>
        <li>
          <a href="#">about us</a>
        </li>
        <li>
          <a href="#">menu</a>
        </li>
        <li>
          <a href="#">contacts</a>
        </li>
      </ul>
    </nav>
    <div class="menu-btn">
      <div class="menu-btn_burger">
      </div>
    </div>
    <div class="logo">
      <a href="#">
        <img src="./images/lobo-header.png" alt="logotype bar3856 rest">
      </a>
      <h1>Bar</h1>
    </div>
    <div class="info">
      <ul>
        <li>
          <p>
            open till 2 am Tue-Sun
          </p>
        </li>
        <li>
          <img src="./images/img-phone.png" alt="#">
          <a href="#">4912345678</a>
        </li>
      </ul>
    </div>
  </div>
</header>