<section class="menu">
  <div class="layout">
    <h3>
      <span>MENU</span>
    </h3>
    <div class="menu_coctails">
      <ul class="left">
        <li>
          <h4>Blue Hawaiian</h4>
          <h5>Ingredients:</h5>
          <p>
            Vodka, Curacao Liqueur, 100% Pineapple Juice, 100% Lime Juice, Stevia All Purpose Natural Sweetener, Organic Valley Half and Half Milk.
          </p>
        </li>
        <li>
          <h4>Hula Dancer</h4>
          <h5>Ingredients:</h5>
          <p>
            Pineapple flavored vodka, Vanilla rum, Lychee puree, ReaLemon 100% Lemon Juice, 100% Pineapple Juice.
          </p>
        </li>
        <li>
          <h4>Pain Killer</h4>
          <h5>Ingredients:</h5>
          <p>
            Rum, 100% Pineapple Juice, Coco Lopez Cream Coconut, Tropicana Orange Juice, Badia Ground Nutmeg.
          </p>
        </li>
        <li>
          <h4>Blue Ocean</h4>
          <h5>Ingredients:</h5>
          <p>
            Vodka, Blue curaçao,Ocean Spray Grapefruit Juice, Stevia All Purpose Natural Sweetener, (or your preferred sweetener).
          </p>
        </li>
      </ul>
      <ul class="right">
        <li>
          <h4>Melon Ball</h4>
          <h5>Ingredients:</h5>
          <p>
            Vodka, Melon liqueur, Pineapple juice, Cherries.
          </p>
        </li>
        <li>
          <h4>Mai Tai</h4>
          <h5>Ingredients:</h5>
          <p>
            Hana Bay Gold Rum, 100% Pineapple Juice, Passion juice, Orange juice,  Guava Juice, Orange Curacao, Dark rum.
          </p>
        </li>
        <li>
          <h4>Hpnotiq Breezer</h4>
          <h5>Ingredients:</h5>
          <p>
            Hpnotiq, Malibu coconut rum, 100% Pineapple Juice.
          </p>
        </li>
        <li>
          <h4>Rum Punch</h4>
          <h5>Ingredients:</h5>
          <p>
            Malibu red rum, Cruzan mango rum, Orange juice, 100% Pineapple Juice,  sPineapplelices.
          </p>
        </li>
        <li>
          <h4>Frozen Pineapple Margarita</h4>
          <h5>Ingredients:</h5>
          <p>
            Tequila, Triple sec, 100% Lime Juice, Pineapple, Sweetener.
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>