footer {
    display: block;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
	margin-left: auto;
	margin-right: auto;
  	background-color: $background-color1;
	@media screen and (min-width: $mobile) {
		width: $mobile;
	}
	@media screen and (min-width: $tablet) {
		width: $tablet;
	}
	@media screen and (min-width: $desktop) {
		width: $desktop;
	}

	.info {
		float: left;
		width: 50%;
		height: 100%;
		padding: 63px 136px 33px 294px;
		background-color: $color4;
		p {
			// width: 292px;
			font-family: $brand-font-1;
			color: $color2;
			font-size: $h3-font-size;
			font-weight: $base-font-weight;
			line-height: 2;
		}
	}
	.map {
		float: right;
		width: 50%;
		height: 250px;
		iframe {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}